.custom_cell_height {
	height: 15px !important;
}
.settings{
	border:1px solid #ddd;
	border-top-color:transparent;
	width:100%;
	background-color:#f1f2f2;
}
.settings .settings_header h3{
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
	padding-left:10px;
}
.settings .settings_header .outlet_crud{
	float:right;
	padding-right:20px;
}
.settings .settings_content{
	background-color:#fff;
}
.settings .settings_content table{
	width:100%;
	font-size:14px;
	color:#777;
	padding-left:5px;
}

.settings .settings_content table thead{
	background-color:#ebebeb;
}

.settings_tabs li{
	width:100px;
	text-align: center;
}
.settings_tabs .active a{
	background-color:#f1f2f2 !important;
}
.white_content {
	background: #fff;
	padding: 15px;
}
.clear {
	clear:both;
}