*{
	margin:0px;
	padding:0px;
}
.navbar-brand-custom{
	width:180px;
}
.form-group-custom{
	width:280px;
}
.navbar-brand-custom form button span{
	font-size:20px;
}
.concert{
	padding: 21px;
}
.time{
	font-size:20px;
	padding: 17px;
}


#timeSheet, td, th{
	border: 1px solid #ccc;
	border-collapse:collapse;
}

td, th{
	text-align: center;
	width:30px;
	height:30px;
}

.t_hour {
	height: 20px;
}

#timeSheet {
	margin: 0 auto;
}
.checkboxes div{
	width:100px;
}
.checkboxes{
	margin-left: 20px;
}
